.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .owl-carousel .owl-item.active  {
    opacity: 0.5;
}
.owl-carousel .owl-item.active:first-child{
    opacity: 1;
    transform: scale(1.15);
} */


.active-my {
position: relative;

}
.active-my .item img{
   /* transform: scale(1.15); */
    height: 400px;
}
.owl-item img{

   transition: all 0.3s 0s ease;

}
.owl-item:not(.active-my) img{
    padding-top: 25%;
    width: 80%;
}

